.container{
   margin-top: 100px !important;
}

.list-group, .display-4{
   display: flex;
   justify-content: center;
   /* align-items: center; */
}
.list-group{
    margin-left: 620px;
    width: 20% !important;
    margin-top: 40px;
}
.container{
   display: flex !important;
   justify-content: center !important;
   text-align: center;
   flex-direction: column;
}
.container-grid{
   background-color: #a5c2c2 !important;
   width: 500px;
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   margin: auto;
   margin-top: 125px;
   padding: 20px;
}
.input-group{
   width: 70%;
   margin-left: 75px;
}
.edit-buttons{
   margin-right: 20px;
}
ul li{
   letter-spacing: 2px;
}