.container{
    background-color: #08365f !important;
}

.heading{
    margin-bottom: 20px !important;
    /* border: 1px solid black; */
    text-shadow: 3px 3px black;
    color: #eee;
    /* background-color: #ddeaea;
    padding: 10px; */
}
.thead{
   margin: auto !important;
}
tr{
    margin: auto !important;
}
.inner-container{
    padding: 50px;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


